
:root {
    --black: #181818;
    --white: #ffffff;
    --gray: #eeeeee;
    --gray-light: #fbfbfb;
    --font-body: 'PT Sans', sans-serif;
    --font-title: 'Libre Baskerville', serif;
}

* {
    font-family: 'Libre Baskerville', serif;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

header {
    background-color: var(--gray-light);
}

header h1 {
    padding-top: 60px;
    font-size: 2em;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

header p {
    text-align: center;
    padding-bottom: 60px;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px
}

header section img {
    width: 85%;
    height: auto;
    padding-bottom: 60px;
}

.images {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

main section {
    padding: 30px 0;
}

main section h2 {
    font-size: 1.5em;
    padding-bottom: 20px;
}

.btn-light {
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 8px 28px;
    text-decoration: none;
    color:var(--black);
    text-align: center;
    display: block;
    margin-bottom: 60px;
}

.text {
    margin-bottom: 60px;
}

.unicorn-newspaper {
    padding: 30px 0;
}

.btn-dark {
    border: 1px solid var(--black);
    background-color: var(--black);
    border-radius: 5px;
    padding: 8px 28px;
    text-decoration: none;
    color:var(--white);
    text-align: center;
    display: block;
    margin: auto;
}

.unicorn-newspaper {
    width: 80%;
    height: auto;
}

.dark-card {
    background-color: var(--gray-light);
}

footer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
}

footer div {
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 12px;
    text-align: center;
}